@media(min-width:1200px){.contact_content {
  overflow: auto;
  width: 100%;
  padding: 30px;
  margin: 80px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.contact_content img {
  display: block;
}
.contact_content a {
  text-decoration: underline;
}
.map_attachment .contact {
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 2%; 
  color: #888888;
}
.contact-info {
  margin: 10px 0;
  color: black;
}
#contact-form-box {
  margin-top: 30px;
}
#contact-form label {
  display: inline-block;
  padding-left: 10px;
}
#contact-form input, 
#contact-form textarea{
  display: block;
  margin-bottom: 10px;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #cfcfcf !important;
  -webkit-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
  box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
}
#contact-form input {
  width: 320px;
  height: 30px;
  line-height: 30px;
  padding: 0px 0px 0px 7px;
  margin: 10px 5px 10px;
  line-height: 20px;
  max-width: 90%;
  outline: none;
}
#contact-form textarea {
  height: 335px;
  width: 700px;
  margin: 10px 5px 10px;
  padding: 10px;
  max-width: 100%;
  line-height: 20px;
}
#contact-form button {
  background-color: #f1f1f1;
  color: #7a7a7a;
  border: 1px solid #dedede;
  height: 29px;
  line-height: 26px;
  padding: 1px 12px 0px 12px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
  transition: ease all 0.5s 0s;
}
#contact-form button:hover {
  background-color: #7a7a7a;
  color: #f1f1f1;
}
.required {
  color: red;
  font-weight: bold;
}}

@media(max-width:768px){
.contact_content {
  overflow: auto;
  width: 100%;
  padding: 30px;
  margin: 80px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.contact_content img {
  display: block;
}
.contact_content a {
  text-decoration: underline;
}
.map_attachment .contact {
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 2%; 
  color: #888888;
}
.contact-info {
  margin: 10px 0;
  color: black;
}
#contact-form-box {
  margin-top: 30px;
}
#contact-form label {
  display: inline-block;
  padding-left: 10px;
}
#contact-form input, 
#contact-form textarea{
  display: block;
  margin-bottom: 10px;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #cfcfcf !important;
  -webkit-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
  box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
}
#contact-form input {
  width: 320px;
  height: 30px;
  line-height: 30px;
  padding: 0px 0px 0px 7px;
  margin: 10px 5px 10px;
  line-height: 20px;
  max-width: 90%;
  outline: none;
}
#contact-form textarea {
  height: 335px;
  width: 700px;
  margin: 10px 5px 10px;
  padding: 10px;
  max-width: 100%;
  line-height: 20px;
}
#contact-form button {
  background-color: #f1f1f1;
  color: #7a7a7a;
  border: 1px solid #dedede;
  height: 29px;
  line-height: 26px;
  padding: 1px 12px 0px 12px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
  transition: ease all 0.5s 0s;
}
#contact-form button:hover {
  background-color: #7a7a7a;
  color: #f1f1f1;
}
.required {
  color: red;
  font-weight: bold;
}}