@media(min-width: 1200px) {
    main {
        margin-bottom: 100px;
    }
    /*슬라이드*/
    .bx-wrapper {
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: 0 !important;
    }
    .bx-controls {
        display: none !important;
    }
    .main_text {
        position: absolute;
        width: 1200px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding-left: 10px;
    }
    .main_text p {
        font-size: 40px;
        letter-spacing: -3px;
        margin-bottom: 10px;
    }
    .main_text h2 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: -5px;
        margin-bottom: 60px;
    }
    .main_text .sld_btn a {
        padding: 10px 20px;
        color: white;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.7);
        transition: ease all 0.3s 0s;
        border: 1px solid rgba(255, 255, 255, 0);
    }
    .main_text .sld_btn a:first-child {
        margin-right: 20px;
    }
    .main_text .sld_btn a:hover {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    /* product */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .main-product-item {
        text-align: center;
        padding: 40px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    .main-product-item:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
    .product-link {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
        height: 100%;
    }
    .main-product-item h3 {
        font-size: 24px;
        margin: 20px 0;
        color: #ff8800;
    }
    .main-product-item p {
        color: #ccc;
        line-height: 1.6;
    }
    .main-product-item img {
        width: 100%;
        height: auto;
        display: block;
    }
    /*icon*/
    .main_cts02 {
        margin-top: 100px;
        background: #f5f5f5;
        padding: 100px 0;
    }
    .main_cts02 ul {
        width: 100%;
    }
    .main_cts02 ul li {
        display: inline-block;
        width: calc(33.33% - 4px);
        text-align: center;
        vertical-align: top;
    }
    .main_cts02 ul li p {
        margin-top: 30px;
        font-weight: 600;
        font-size: 20px;
        word-break: keep-all;
    }
    .main_cts02 ul li span {
        display: block;
        width: 30px;
        height: 3px;
        background: #fe7d27;
        margin: 25px auto 0;
    }
    .main_cts02 ul li p:last-child {
        font-weight: 200;
        font-size: 16px;
        width: 70%;
        word-break: keep-all;
        margin: 25px auto 0;
        line-height: 20px;
    }
    /*contact*/
    .contact {
        margin-top: 65px;
        width: 100%;
    }
    .contact ul {
        width: 100%;
        margin: 0 auto;
    }
    .contact ul li {
        display: inline-block;
        vertical-align: middle;
        width: calc(51.9% - 40px);
        margin-right: 30px;
    }
    .contact ul li:last-child {
        margin-right: 0;
    }
    .contact ul li img {
        transition: ease all 0.3s 0s;
        width: 100%;
    }
    .contact ul li .hover {
        display: none;
    }
    .contact ul li:hover .none {
        display: none;
    }
    .contact ul li:hover .hover {
        display: block;
    }
    .contact ul li p {
        display: block;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

}
@media (max-width: 1199px) {
    html {
        font-size: 3.5vw;
    }
    main {
        margin-bottom: 100px;
    }
    .main_sld {
        margin-top: 100px;
    }
    /*슬라이드*/
    .bx-wrapper {
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: 0 !important;
    }
    .bx-controls {
        display: none !important;
    }
    .main_text {

        text-align: center;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding-left: 10px;
    }
    .main_text p {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .main_text h2 {
        font-size: 2.5rem;
        font-weight: 600;
        /* letter-spacing: -5px; */
        margin-bottom: 2rem;
    }
    .main_text .sld_btn a {
        padding: 10px 20px;
        color: white;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.7);
        transition: ease all 0.3s 0s;
        border: 1px solid rgba(255, 255, 255, 0);
    }
    .main_text .sld_btn a:first-child {
        margin-right: 20px;
    }
    .main_text .sld_btn a:hover {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    /* product */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gap: 10px; */
        /* max-width: 1200px; */
        width: 100%;
        margin: 0 auto;
    }
    .main-product-item {
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    .main-product-item:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
    .product-link {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
        height: 100%;
    }
    .main-product-item h3 {
        font-size: 1.5rem;
        margin: 20px 0;
        color: #ff8800;
    }
    .main-product-item p {
        color: #ccc;
        line-height: 1.6;
    }
    .main-product-item img {
        width: 100%;
        height: auto;
        display: block;
    }
    /*icon*/
    .main_cts02 {
        /* margin-top: 100px; */
        background: #f5f5f5;
        padding: 80px 0;
    }
    .main_cts02 ul {
        width: 100%;
    }
    .main_cts02 ul li {
        display: inline-block;
        width: calc(33.33% - 4px);
        text-align: center;
        vertical-align: top;
    }
    .main_cts02 ul li p {
        margin-top: 30px;
        font-weight: 600;
        font-size: 1.25rem;
        word-break: keep-all;
    }
    .main_cts02 ul li span {
        display: block;
        width: 30px;
        height: 3px;
        background: #fe7d27;
        margin: 25px auto 0;
    }
    .main_cts02 ul li p:last-child {
        font-weight: 200;
        font-size: 1rem;
        width: 70%;
        word-break: keep-all;
        margin: 25px auto 0;
        line-height: 20px;
    }
    /*contact*/
    .contact {
        margin-top: 50px;
        width: 100%;
    }
    .contact ul {
        /* padding : 10px; */
        width: 100%;
        /* margin: 0 auto; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contact ul li {
        display: inline-block;
        vertical-align: middle;
        width: calc(51.9% - 40px);
        /* margin-right: 30px; */
    }
    .contact ul li:last-child {
        margin-right: 0;
    }
    .contact ul li img {
        transition: ease all 0.3s 0s;
        width: 100%;
    }
    .contact ul li .hover {
        display: none;
    }
    .contact ul li:hover .none {
        display: none;
    }
    .contact ul li:hover .hover {
        display: block;
    }
    .contact ul li p {
        display: block;
        /* margin-top: 30px; */
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
    }

}

